
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

html {
     scroll-behavior: smooth;
}

body {
     font-size: 14px;
     font-family: 'Raleway', sans-serif;;
     font-weight: normal;
     background-image: url(../images/banner.png);
     background-size:cover;
     background-repeat: no-repeat;
     range: auto;
     background-attachment: fixed;
     
}
a:hover{
    color: white;
    text-decoration: none;
}
a:link
{
    color: white;
}

.search_bt{
    border-top-right-radius: 30px !important; 
    border-bottom-right-radius: 30px !important; 
    color: #fff; 
    padding-bottom: 10px; 
    padding-top: 10px;
    background-color: #000;
    padding: 15px 45px;
    border: 0px;
   
   }
   p{
       margin-top: 10vw;
       margin-left: 30px;
       width: 100%;
      
    }
    #search{
        width: 100%;
    
    }
    #disp
    {
        background-color:rgba(0, 0, 0, 0.637);
        margin: 20vw;
        margin-bottom: 0vw;
        height: 5vw;
        padding: 10px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        
       
    }
    span{
        color: white;
        font-size: large;
        
    }
